doctype html
html(lang="de")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="Date to text converter")
    link(rel="stylesheet" href="assets/css/styles.css")
    title Date to text

  body

    header
      h1.container Convert date to text
    .card.container.first-card
      main
        .row
          form(id="form")
            label(for="datum") Date
            input(type="text" name="datum" id="datum" value="")
          .half
            label Result
            textarea#result
      footer
        .disclaimer According to <a href="http://dictionary.cambridge.org/grammar/british-grammar/dates">Cambridge Dictionary</a>
    .card.container.info
      p Select the text field for the date and hit enter. The result will be copied to your clipboard.

    script(src="assets/js/function.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-92915400-1', 'auto');  ga('send', 'pageview');
