doctype html
html(lang="de")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="Date to text converter")
    link(rel="stylesheet" href="assets/css/styles.css")
    title Date to text

  body

    header
      h1.container Convert date to text
    .card.container.first-card
      main
        .row
          form(id="form")
            label(for="datum") Date
            input(type="text" name="datum" id="datum" value="")
          .half
            label Result
            textarea#result
      footer
        .disclaimer According to <a href="http://dictionary.cambridge.org/grammar/british-grammar/dates">Cambridge Dictionary</a>
    .card.container.info
      p Select the text field for the date and hit enter. The result will be copied to your clipboard.

    script(src="assets/js/function.js")
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2459584501404351",
        enable_page_level_ads: true
      });
