doctype html
html(lang="de")
  include includes/head.pug

  body

    header
      h1.container Convert date to text
    .container
      .card.first-card
        main
          .row
            form(id="form")
              label(for="datum") Date
              input(type="text" name="datum" id="datum" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" value="")
            .half
              label(for="result") Result
              textarea#result
        footer
          .disclaimer According to <a href="http://dictionary.cambridge.org/grammar/british-grammar/dates">Cambridge Dictionary</a>
    .container
      .card.info
        p Select the text field for the date and hit enter. The result will be copied to your clipboard.

    script(src="assets/js/function.js")
