doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="Date to text converter")
    title Date to text converter
    style
      include ../docs/assets/css/styles.css

  body

    header
      h1.container Convert date to text
    .container
      .card.first-card
        main
          .row
            form(id="form")
              label(for="date") Date
              input(type="text" name="date" id="date" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" value="")
            .half
              label(for="result") Result
              textarea#result
        footer
          .disclaimer According to <a href="http://dictionary.cambridge.org/grammar/british-grammar/dates">Cambridge Dictionary</a>
    .container
      .card.info
        p Select the text field for the date and hit enter. The result will be copied to your clipboard.

    script
      include ../docs/assets/js/function.js
